@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
header{
    font-family: Abril Fatface;
}
 
body{
    font-family: Source Sans Pro;
    display: inline-block;
    text-align: center;
}

h2{
    font-family: Roboto Slab;


}


h5{
    font-family: abril Fatface;
    color: red;
}
===================================================================================  

.newspaper-continer{
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 800px;
    margin: auto;
    box-shadow: #ddd;
}

nav{

    font-family: monospace;
    color: #777;
    margin:0 150px;

}

li{ 

    list-style: none;
    display:inline-block;
}

section{

    width: 45%;
    display: inline-block;
}





